body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.container {
  max-width: 1128px;
  padding-left: 15px;
  padding-right:15px ;
  margin: 0 auto;
}


/* Header */
.header-container{
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 156px;
  margin-right: 76px;
  
}
.contacts-info{
  display: flex;
    align-items: center;
    margin-right: auto;
}
.logo-element {
  color: #2e2f42;
}
.social-links {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
    gap: 40px;
    padding: 24px 0px;
  
}



.social-links .link {
  color: #2e2f42;

  
}
.social-links .link:hover {
  color: #404bbf;
}
.social-links .link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacts-info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  margin-left: 332px;
  margin-right: 156px;
  

}
.contacts {
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

/* Section 1 */
.dark-board {
  background-color: #2e2f42;
}
.title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 292px;

}
.button {
    display: block;
    background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  
  
  

}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.plan-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 */
.second-bord {
  background-color: #f4f4fd;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.stand {
  background-color: #ffffff;
}
/* Section 4 */
.cards{
  display: flex; 
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
  list-style: none;

}



/* Footer */

.second-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.second-logo-element {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
